@model Project3.Models.Product

@{
    ViewData["Title"] = "Product Edit Page";
}

<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">Product Edit</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">Home Admin</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="ProductsAdmin" asp-action="Index">Product management</a></li>
            <li class="breadcrumb-item active">Product Edit</li>
        </ol>
    </div>
</div>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <div class="form-group">
        <label asp-for="ProductName" class="control-label"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
        <span class="text-danger">@ViewBag.error</span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" rows="6"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <img src="~/Images/@Model.ProductImage" width="25%" height="100" />
            </div>
            <div class="col-6">
                <label asp-for="ProductImage" class="control-label"></label>
                <input asp-for="ProductImage" type="file" class="form-control mb-2" />
                <input name="Image" class="form-control mb-2" type="hidden" value="@Model.ProductImage" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ProductStatus" class="control-label"></label>
        <select asp-for="ProductStatus" class="form-control">
            <option value="In stock">In stock</option>
            <option value="Out of stock">Out of stock</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
