@model Project3.Models.Category

@{
    ViewData["Title"] = "Category Edit Page";
}

<div class="row mb-2">
    <div class="col-sm-6">
        <h1 class="m-0">Category Edit</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">Home Admin</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="CategoriesAdmin" asp-action="Index">Category management</a></li>
            <li class="breadcrumb-item active">Category Edit</li>
        </ol>
    </div>
</div>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CategoryId" />
    <div class="form-group">
        <label asp-for="CategoryName" class="control-label"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
        <span class="text-danger">@ViewBag.error</span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryType" class="control-label"></label>
        <select asp-for="CategoryType" class="form-control">
            <option value="Science">Science</option>
            <option value="Medical">Medical</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
