@{
    ViewData["Title"] = "About Page";
}

<div class="hero-wrap hero-bread" style="background-image: url('/StyleUser/images/bg1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About us</span></p>
                <h1 class="mb-0 bread">About us</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container" style="">
        <h1>Introducing Providence Clinic</h1>
        <div style="text-align:center">
            <p> 252 Hoàng Quốc Việt, Cổ Nhuế, Bắc Từ Liêm, Hà Nội 10000, Vietnam</p>
            <p>Hotline: +84 20032003</p>
        </div>
        <p>Providence Clinic is a clinic founded with the goal of providing online services to meet today's medical needs. </p>
        <p>Digital age, The development of digital technology is the current trend. The fact that clinics operate on social networks will help reduce the load on hospitals today.</p>
        <div style="text-align:center">
            <img src="~/StyleUser/images/ab2.jpg" style=" width: 500px;" />
        </div>
        <p>Providence Clinic always updates the latest medical equipment.</p>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="fa-brands fa-old-republic"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Science</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="fa-brands fa-gratipay"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Medical</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Education</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="fa-solid fa-chart-line"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Business</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>