@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/StyleAdmin/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/StyleAdmin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/StyleAdmin/dist/css/adminlte.min.css">
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <a asp-area="" asp-action="Index" asp-controller="Home">
                <img class="animation__wobble" src="~/StyleAdmin/dist/img/AdminLTELogo.png" alt="#" height="60" width="60">
            </a>
        </div>
        <nav class="main-header navbar navbar-expand navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a asp-area="" asp-action="Index" asp-controller="Home" class="brand-link">
                <img src="~/StyleAdmin/dist/img/AdminLTELogo.png" alt="#" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Providence</span>
            </a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <a asp-area="Admin" asp-action="Index" asp-controller="HomeAdmin">
                            <img src="~/Images/@HttpContextAccessor.HttpContext.Session.GetString("LoginAvatar")" class="img-circle elevation-2" alt="#">
                        </a>
                    </div>
                    <div class="info">
                        <a asp-area="Admin" asp-action="Index" asp-controller="HomeAdmin" class="d-block">@HttpContextAccessor.HttpContext.Session.GetString("LoginName")</a>
                        <a asp-area="" asp-action="Logout" asp-controller="Login">Logout</a>
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-header">Manage Providence</li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="CategoriesAdmin" asp-action="Index" class="nav-link">
                                <i class="fa-solid fa-layer-group"></i>
                                <p>Manage Categories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="ProductsAdmin" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-tree"></i>
                                <p>Manage Products</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="NewsAdmin" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>Manage News</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="AccountsAdmin" asp-action="Index" class="nav-link">
                                <i class="fa-solid fa-user-gear"></i>
                                <p>Manage Accounts</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="OrdersAdmin" asp-action="Index" class="nav-link">
                                <i class="fa-solid fa-truck-fast"></i>
                                <p>Manage OrderDetails</p>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/StyleAdmin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/StyleAdmin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/StyleAdmin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/StyleAdmin/dist/js/adminlte.js"></script>
    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/StyleAdmin/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/StyleAdmin/plugins/raphael/raphael.min.js"></script>
    <script src="~/StyleAdmin/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/StyleAdmin/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/StyleAdmin/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- <script src="~/StyleAdmin/dist/js/demo.js"></script> -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/StyleAdmin/dist/js/pages/dashboard2.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>